<nav class="bg-gray-900 text-white px-4 py-3 shadow-md flex flex-wrap justify-between items-center">
  <div class="text-xl font-bold tracking-wide">Ultimate Showcase</div>

  <div class="flex space-x-4">
    <a
      routerLink="/player"
      routerLinkActive="text-yellow-300 border-b-2 border-yellow-300"
      class="hover:text-yellow-300 pb-1 transition-all"
    >
      Player
    </a>

    <a
      routerLink="/teams"
      routerLinkActive="text-yellow-300 border-b-2 border-yellow-300"
      class="hover:text-yellow-300 pb-1 transition-all"
    >
      Teams
    </a>

  </div>
</nav>
